html{
    font-size: 100%;
}

li{
    list-style: none;
    font-size: 1.2rem;
}

a{
    text-decoration-line: none;
}

p{
    font-size: 1.3rem;
}

body{
    color: #24292e;
}

.header{
    max-width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 4%;
    height: 170px;
    &__logo{
        color: #24292e;
        font-weight: 600;
    }
    &__nav{
        display: flex;
        gap: 40px;
        &-text{
            color:#24292e;
            a:hover{
                opacity: 0.5;
            }
        }
        
    }
}

